html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Arial", sans-serif;
  color: #000; }

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 40px;
  background-color: #f6f7fb; }

.header {
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  position: fixed;
  padding: 0 6%;
  display: grid;
  grid-template-columns: max-content 1fr 45px max-content;
  align-items: center;
  animation: header_animation 1s;
  z-index: 100; }
  .header .logo {
    height: 44px; }
  .header .bell {
    grid-column: 3;
    color: #c0c9d8;
    font-size: 20px; }
    .header .bell:hover {
      cursor: pointer;
      color: #9da6b1; }

.main {
  padding: 125px 0 55px 0; }
  .main .cards-container {
    margin: 0 6%;
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
    grid-template-rows: 16.5vw 5.2vw 5.5vw 5.5vw 5.5vw 5.5vw; }

.footer {
  text-align: center;
  font-size: 20px; }

@keyframes header_animation {
  0% {
    transform: translateY(-65px); }
  100% {
    transform: translateY(0); } }
.menu {
  position: relative; }
  .menu-btn {
    display: block;
    width: 35px;
    border-radius: 20px;
    text-align: center;
    background-color: #e99c3f; }
    .menu-btn span {
      font-weight: bold;
      line-height: 35px;
      color: #fff; }
    .menu-btn:hover {
      cursor: pointer;
      background-color: #e69028; }
  .menu-box {
    box-sizing: border-box;
    padding: 10px 15px;
    position: absolute;
    height: 120px;
    width: 185px;
    top: 40px;
    right: 0px;
    visibility: hidden;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); }
    .menu-box span {
      display: inline-block;
      width: 100%;
      padding-bottom: 5px;
      font-size: 14px;
      line-height: 25px;
      color: #9da6b1;
      text-align: center;
      border-bottom: 2px solid; }

#menu-toggle {
  position: fixed;
  opacity: 0; }
  #menu-toggle:checked ~ .menu-box {
    visibility: visible; }

.nav {
  margin-top: 7px; }
  .nav-item {
    display: block;
    padding-left: 5px;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none; }
    .nav-item:hover {
      cursor: pointer;
      background-color: #f2f2f2; }

.card {
  perspective: 1500px; }
  .card-cover, .card-content {
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition-duration: 0.8s; }
  .card-cover {
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    font-size: 6.5vw;
    color: #fff; }
  .card-content {
    box-sizing: border-box;
    padding: 25px;
    font-size: 1.2vw;
    line-height: 1.3vw;
    font-weight: bold;
    background-color: #fff; }

.binary-card {
  grid-area: 1 / 1 / 3 / 2; }
  .binary-card .card-cover {
    background-color: #fff; }
  .binary-card .card-content {
    align-items: center;
    justify-items: center; }

.btn {
  width: 100px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  background-color: #278ffe; }
  .btn:hover {
    background-color: #015cbe; }

.js-card {
  grid-area: 1 / 2 / 5 / 2; }
  .js-card .card-cover {
    align-items: end;
    justify-items: end;
    padding: 10px;
    font-size: 8vw;
    font-weight: bold;
    line-height: 7vw;
    color: #000;
    background-color: #f1d079; }

.php-card {
  grid-area: 1 / 3 / 2 / 5; }
  .php-card .card-cover {
    font-style: italic;
    color: #000;
    background-color: #8a93bc;
    transform-origin: top right;
    z-index: 10; }
  .php-card:hover .card-cover {
    transform: scale(0);
    transform-origin: top right; }

.qa-card {
  grid-area: 3 / 1 / 7 / 2; }
  .qa-card .card-cover {
    background-color: #70bc7e; }

.binary-card .card-content,
.js-card .card-content,
.qa-card .card-content {
  transform: rotateY(180deg); }
.binary-card:hover .card-cover,
.js-card:hover .card-cover,
.qa-card:hover .card-cover {
  transform: rotateY(-180deg); }
.binary-card:hover .card-content,
.js-card:hover .card-content,
.qa-card:hover .card-content {
  transform: rotate(0); }

.java-card {
  grid-area: 5 / 2 / 7 / 3; }
  .java-card .card-cover {
    font-size: 3.5vw;
    background-color: #cf3e50;
    transform-origin: bottom;
    z-index: 10; }
  .java-card:hover .card-cover {
    transform: scaleY(0);
    transform-origin: bottom; }

.net-card {
  grid-area: 2 / 3 / 7 / 4; }
  .net-card .card-cover {
    letter-spacing: -4px;
    background-color: #5c2773;
    transform-origin: bottom right;
    z-index: 10; }
  .net-card:hover .card-cover {
    transform: scale(0);
    transform-origin: bottom right; }

.events-card {
  grid-area: 2 / 4 / 4 / 5; }
  .events-card .card-cover {
    background-color: #4d99f7; }
  .events-card .card-content {
    overflow-y: scroll; }
    .events-card .card-content::-webkit-scrollbar {
      width: 10px; }
    .events-card .card-content::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #8f99a6; }

.blog-card {
  grid-area: 4 / 4 / 6 / 5; }
  .blog-card .card-cover {
    background-color: #18449d; }

.contacts-card {
  grid-area: 6 / 4 / 7 / 5; }
  .contacts-card .links {
    height: max-content;
    width: max-content; }
  .contacts-card .card-cover {
    background-color: #0f3276; }
  .contacts-card .card-content {
    padding: 0;
    justify-items: center;
    align-items: center; }

.contacts-link {
  text-decoration: none; }
  .contacts-link i {
    font-size: 3vw; }
  .contacts-link:hover i {
    color: #278ffe; }

.events-card .card-cover,
.blog-card .card-cover,
.contacts-card .card-cover {
  font-size: 1.2vw;
  transform-origin: right;
  z-index: 10; }
.events-card:hover .card-cover,
.blog-card:hover .card-cover,
.contacts-card:hover .card-cover {
  transform: scaleX(0);
  transform-origin: right; }
.events-card .card-content,
.blog-card .card-content,
.contacts-card .card-content {
  font-weight: normal; }

.notification-block {
  position: fixed;
  bottom: 0;
  right: 20px;
  font-size: 18px;
  line-height: 20px; }
  .notification-block .notification {
    box-sizing: border-box;
    width: 270px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    opacity: 0.7; }
    .notification-block .notification p,
    .notification-block .notification i,
    .notification-block .notification strong {
      color: #fff; }
    .notification-block .notification-error {
      background-color: #a22417; }
    .notification-block .notification-success {
      background-color: #4f9343; }
    .notification-block .notification-warning {
      background-color: #f87700; }

@media (max-width: 900px) {
  .main .cards-container {
    grid-template-columns: 45% 5% 30% 20%;
    grid-template-rows: 15vw 15vw 10vw 20vw 20vw; }
    .main .cards-container .card-content {
      font-size: 1.8vw;
      line-height: 2vw; }
  .main .events-card .card-content,
  .main .blog-card .card-content,
  .main .contacts-card .card-content {
    padding: 2vw;
    font-size: 1.2vw;
    line-height: 1.8vw;
    font-weight: bold; }

  .binary-card {
    grid-area: 1 / 1 / 4 / 2; }

  .js-card {
    grid-area: 1 / 2 / 4 / 4; }

  .php-card {
    grid-area: 4 / 3 / 5 / 5; }

  .qa-card {
    grid-area: 5 / 1 / 6 / 3; }

  .java-card {
    grid-area: 4 / 1 / 5 / 3; }

  .net-card {
    grid-area: 5 / 3 / 6 / 5; }

  .events-card {
    grid-area: 1 / 4 / 2 / 5; }

  .blog-card {
    grid-area: 2 / 4 / 3 / 5; }

  .contacts-card {
    grid-area: 3 / 4 / 4 / 5; } }
