.card {
  perspective: 1500px;
  &-cover,
  &-content {
    display: grid;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition-duration: 0.8s;
  }
  &-cover {
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    font-size: 6.5vw;
    color: map-get($map: $colors-theme, $key: white);
  }
  &-content {
    box-sizing: border-box;
    padding: 25px;
    font-size: 1.2vw;
    line-height: 1.3vw;
    font-weight: bold;
    background-color: map-get($map: $colors-theme, $key: white);
  }
}

.binary-card {
  grid-area: 1 / 1 / 3 / 2;
  .card-cover {
    background-color: map-get($map: $colors-theme, $key: white);
  }
  .card-content {
    align-items: center;
    justify-items: center;
  }
}

.btn {
  width: 100px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: map-get($map: $colors-theme, $key: white);
  font-weight: normal;
  background-color: map-get($map: $colors-theme, $key: link);
  &:hover {
    background-color: darken($color: map-get($map: $colors-theme, $key: link), $amount: 20);
  }
}

.js-card {
  grid-area: 1 / 2 / 5 / 2;
  .card-cover {
    align-items: end;
    justify-items: end;
    padding: 10px;
    font-size: 8vw;
    font-weight: bold;
    line-height: 7vw;
    color: map-get($map: $colors-theme, $key: primary-font);
    background-color: map-get($map: $colors-theme, $key: js-card);
  }
}

.php-card {
  grid-area: 1 / 3 / 2 / 5;
  .card-cover {
    font-style: italic;
    color: map-get($map: $colors-theme, $key: primary-font);
    background-color: map-get($map: $colors-theme, $key: php-card);
    transform-origin: top right;
    z-index: 10;
  }
  &:hover .card-cover {
    transform: scale(0);
    transform-origin: top right;
  }
}

.qa-card {
  grid-area: 3 / 1 / 7 / 2;
  .card-cover {
    background-color: map-get($map: $colors-theme, $key: qa-card);
  }
}

.binary-card,
.js-card,
.qa-card {
  .card-content {
    transform: rotateY(180deg);
  }
  &:hover .card-cover {
    transform: rotateY(-180deg);
  }
  &:hover .card-content {
    transform: rotate(0);
  }
}

.java-card {
  grid-area: 5 / 2 / 7 / 3;
  .card-cover {
    font-size: 3.5vw;
    background-color: map-get($map: $colors-theme, $key: java-card);
    transform-origin: bottom;
    z-index: 10;
  }
  &:hover .card-cover {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}

.net-card {
  grid-area: 2 / 3 / 7 / 4;
  .card-cover {
    letter-spacing: -4px;
    background-color: map-get($map: $colors-theme, $key: net-card);
    transform-origin: bottom right;
    z-index: 10;
  }
  &:hover .card-cover {
    transform: scale(0);
    transform-origin: bottom right;
  }
}

.events-card {
  grid-area: 2 / 4 / 4 / 5;
  .card-cover {
    background-color: map-get($map: $colors-theme, $key: events-card);
  }
  .card-content {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: darken($color: map-get($map: $colors-theme, $key: secondary-font), $amount: 5);
    }
  }
}

.blog-card {
  grid-area: 4 / 4 / 6 / 5;
  .card-cover {
    background-color: map-get($map: $colors-theme, $key: blog-card);
  }
}

.contacts-card {
  grid-area: 6 / 4 / 7 / 5;
  .links {
    height: max-content;
    width: max-content;
  }
  .card-cover {
    background-color: map-get($map: $colors-theme, $key: contacts-card);
  }
  .card-content {
    padding: 0;
    justify-items: center;
    align-items: center;
  }
}

.contacts-link {
  text-decoration: none;
  i {
    font-size: 3vw;
  }
  &:hover i {
    color: map-get($map: $colors-theme, $key: link);
  }
}

.events-card,
.blog-card,
.contacts-card {
  .card-cover {
    font-size: 1.2vw;
    transform-origin: right;
    z-index: 10;
  }
  &:hover .card-cover {
    transform: scaleX(0);
    transform-origin: right;
  }
  .card-content {
    font-weight: normal;
  }
}
