$colors-theme: (
  white: #fff,
  primary-font: #000,
  for-background: #f6f7fb,
  secondary-font: #9da6b1,
  bell: #c0c9d8,
  profile-avatar: #e99c3f,
  qa-card: #70bc7e,
  java-card: #cf3e50,
  php-card: #8a93bc,
  js-card: #f1d079,
  net-card: #5c2773,
  events-card: #4d99f7,
  blog-card: #18449d,
  contacts-card: #0f3276,
  link: #278ffe,
  error: #a22417,
  success: #4f9343,
  warning: #f87700,
);
