* {
  font-family: "Arial", sans-serif;
  color: map-get($map: $colors-theme, $key: primary-font);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 40px;
  background-color: map-get($map: $colors-theme, $key: for-background);
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  position: fixed;
  padding: 0 6%;
  display: grid;
  grid-template-columns: max-content 1fr 45px max-content;
  align-items: center;
  animation: header_animation 1s;
  z-index: 100;
  .logo {
    height: 44px;
  }
  .bell {
    grid-column: 3;
    color: map-get($map: $colors-theme, $key: bell);
    font-size: 20px;
    &:hover {
      cursor: pointer;
      color: map-get($map: $colors-theme, $key: secondary-font);
    }
  }
}

.main {
  padding: 125px 0 55px 0;
  .cards-container {
    margin: 0 6%;
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
    grid-template-rows: 16.5vw 5.2vw 5.5vw 5.5vw 5.5vw 5.5vw;
  }
}

.footer {
  text-align: center;
  font-size: 20px;
}

@keyframes header_animation {
  0% {
    transform: translateY(-65px);
  }
  100% {
    transform: translateY(0);
  }
}
