@media (max-width: 900px) {
  .main {
    .cards-container {
      grid-template-columns: 45% 5% 30% 20%;
      grid-template-rows: 15vw 15vw 10vw 20vw 20vw;
      .card-content {
        font-size: 1.8vw;
        line-height: 2vw;
      }
    }
    .events-card,
    .blog-card,
    .contacts-card {
      .card-content {
        padding: 2vw;
        font-size: 1.2vw;
        line-height: 1.8vw;
        font-weight: bold;
      }
    }
  }

  .binary-card {
    grid-area: 1 / 1 / 4 / 2;
  }

  .js-card {
    grid-area: 1 / 2 / 4 / 4;
  }

  .php-card {
    grid-area: 4 / 3 / 5 / 5;
  }

  .qa-card {
    grid-area: 5 / 1 / 6 / 3;
  }

  .java-card {
    grid-area: 4 / 1 / 5 / 3;
  }

  .net-card {
    grid-area: 5 / 3 / 6 / 5;
  }

  .events-card {
    grid-area: 1 / 4 / 2 / 5;
  }

  .blog-card {
    grid-area: 2 / 4 / 3 / 5;
  }

  .contacts-card {
    grid-area: 3 / 4 / 4 / 5;
  }
}
