.menu {
  position: relative;
  &-btn {
    display: block;
    width: 35px;
    border-radius: 20px;
    text-align: center;
    background-color: map-get($map: $colors-theme, $key: profile-avatar);
    span {
      font-weight: bold;
      line-height: 35px;
      color: map-get($map: $colors-theme, $key: white);
    }
    &:hover {
      cursor: pointer;
      background-color: darken($color: map-get($map: $colors-theme, $key: profile-avatar), $amount: 5);
    }
  }
  &-box {
    box-sizing: border-box;
    padding: 10px 15px;
    position: absolute;
    height: 120px;
    width: 185px;
    top: 40px;
    right: 0px;
    visibility: hidden;
    background-color: map-get($map: $colors-theme, $key: white);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    span {
      display: inline-block;
      width: 100%;
      padding-bottom: 5px;
      font-size: 14px;
      line-height: 25px;
      color: map-get($map: $colors-theme, $key: secondary-font);
      text-align: center;
      border-bottom: 2px solid;
    }
  }
}

#menu-toggle {
  position: fixed;
  opacity: 0;
  &:checked {
    ~ .menu-box {
      visibility: visible;
    }
  }
}

.nav {
  margin-top: 7px;
  &-item {
    display: block;
    padding-left: 5px;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      background-color: darken($color: map-get($map: $colors-theme, $key: white), $amount: 5);
    }
  }
}
