.notification-block {
  position: fixed;
  bottom: 0;
  right: 20px;
  font-size: 18px;
  line-height: 20px;
  .notification {
    box-sizing: border-box;
    width: 270px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    opacity: 0.7;
    p,
    i,
    strong {
      color: map-get($map: $colors-theme, $key: white);
    }
    &-error {
      background-color: map-get($map: $colors-theme, $key: error);
    }
    &-success {
      background-color: map-get($map: $colors-theme, $key: success);
    }
    &-warning {
      background-color: map-get($map: $colors-theme, $key: warning);
    }
  }
}
